#Main_Intro{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Sub_Intro{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    color: burlywood;
    background-color: blueviolet; 
}

#Follow_up_intro{
    font-family: 'Lucida Sans', 'Lucida Sans Unicode', Geneva;
}